{% import "_includes/forms" as forms %}
{% set textInstructions = textInstructions ?? 'Allow content manager to defined custom text.'|t('link') %}

{% block toggles %}
    {{ forms.textField({
        label: 'Label'|t('link'),
        instructions: 'The name of the link that content publishers will reference.'|t('link'),
        name: 'label',
        id: 'label',
        value: type.settings.label ?: type.displayName
    }) }}

    {{ forms.lightswitchField({
        label: 'Override Text'|t('link'),
        instructions: textInstructions,
        name: 'allowText',
        id: 'allowText',
        on: type.settings.allowText,
        toggle: "text-required-field"
    }) }}

    <div id="text-required-field" class="{% if not type.settings.allowText %}hidden{% endif %}">
        {{ forms.lightswitchField({
            label: 'Require Text'|t('link'),
            instructions: 'Require the user defined text field to be populated'|t('link'),
            name: 'requireText',
            id: 'requireText',
            on: type.settings.requireText
        }) }}
    </div>

    {{ forms.lightswitchField({
        label: 'Show option to open in new window'|t('link'),
        name: 'showTarget',
        id: 'showTarget',
        on: type.settings.showTarget
    }) }}
{% endblock %}
{% block extras %}{% endblock %}
