{% import "_includes/forms" as forms %}

{{ forms.lightswitchField({
    label: 'Show Text'|t('link'),
    name: 'showText',
    id: 'showText',
    on: type.settings.showText,
    toggle: "text-show-field"
}) }}

<div id="text-show-field" class="{% if not type.settings.showText %}hidden{% endif %}">
    {{ forms.lightswitchField({
        label: 'Require Text'|t('link'),
        instructions: 'Require the text field to be populated'|t('link'),
        name: 'requireText',
        id: 'requireText',
        on: type.settings.requireText
    }) }}
</div>